body {
    width: 100vw;
    height: 100vh;
    background: rgb(50,50,50);
}

#nav-bar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#back-button-container {
    display: inline-block;
}

#canvas {
    display: block;
}

.fa-arrow-left {
    font-size: 30px;
    color: white;
}

#text-display-container {
    border-top: white 2px solid;
    display: flex;
    flex-direction: auto;
    justify-content: center;
    height: 50px;
}

#text-display {
    color: white;
    font-size: 2.5em;
    font-family: "Arial";
}

/*
    Below is styling for the Game Over modal
*/
.modal-body {
    display: flex;
    flex-direction: column;
}

.fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label {
    width: 40%;
}

.value {
    width: 20%;
}