@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&display=swap');

:root {
    --dark-wood-color: #815438;
    --light-wood-color: #caa472;
}

body {
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    font-size: 6em;
    font-family: 'Righteous', cursive;
    -webkit-text-fill-color: var(--light-wood-color);
    -webkit-text-stroke: 5px var(--dark-wood-color);
    -webkit-background-clip: text;
    background-clip: text;
    margin: 1em;
}

main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

main ul li {
    margin: 0.5em;
    background-color: var(--light-wood-color);
    border-radius: 100px;
    list-style-type: none;
}

.menu-item {
    font-family: 'Bungee', cursive;
    font-size: 3em;
    color: var(--dark-wood-color);
    width: 400px;
    text-align: center;
    border: 5px var(--dark-wood-color) solid;
    border-radius: 100px;
    padding: 0.3em 0.5em;
    margin: 10px;
}

.menu-item:hover {
    border: 5px white solid;
    color: white;
}

footer {
    font-family: Arial;
    bottom: 0;
    position: fixed;
    color: var(--dark-wood-color);
    align-self: flex-end;
}