@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&display=swap');

body {
    background: radial-gradient(#afe1af, #50c878);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    font-size: 6em;
    font-family: 'Righteous', cursive;
    -webkit-text-fill-color: #caa472;
    -webkit-text-stroke: 5px #815438;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 1em;
}

main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul li {
    margin: 0.5em;
    border: 1px solid #caa472;
    background-color: #caa472;
    border-radius: 100px;
}

.menu-item {
    font-family: 'Bungee', cursive;
    font-size: 3em;
    color: #815438;
    width: 400px;
    text-align: center;
    border: 5px #815438 solid;
    border-radius: 100px;
    padding: 0.3em 0.5em;
    margin: 10px;
}

.menu-item:hover {
    border: 5px white solid;
    color: white;
}

footer {
    font-family: Arial;
    bottom: 0;
    position: fixed;
    color: #815438;
    align-self: flex-end;
}

.animate-slidein-right {
    animation-duration: 1s;
    animation-name: slidein-right;
}

@keyframes slidein-right {
    from {
        position: relative;
        left: -1600px;
    }

    to {
        position: relative;
        left: 0px;
    }
}

.animate-slidein-left {
    animation-duration: 1s;
    animation-name: slidein-left;
}

@keyframes slidein-left {
    from {
        position: relative;
        right: -1600px;
    }

    to {
        position: relative;
        right: 0px;
    }
}

.animate-slideout-left {
    animation-duration: 1s;
    animation-name: slideout-left;
}

@keyframes slideout-left {
    from {
        position: relative;
        left: 0px;
    }

    to {
        position: relative;
        left: -1600px;
    }
}

.animate-slideout-right {
    animation-duration: 1s;
    animation-name: slideout-right;
}

@keyframes slideout-right {
    from {
        position: relative;
        right: 0px;
    }

    to {
        position: relative;
        right: -1600px;
    }
}