:root {
	--main-backgroundColor: rgb(21, 110, 34);
	--main-textColor: white;
}

body {
	background-color: var(--main-backgroundColor);
	color: var(--main-textColor);
}

nav {
	background-color: var(--main-backgroundColor);
}

.navbar-brand, .nav-link {
	color: var(--main-textColor) !important;
}

.nav-link:hover {
	font-weight: bold;
}

#header {
	text-align: center;
	margin: 2em 0;
}

.jumbotron {
	background: var(--main-backgroundColor);
}

.jumbotron .btn {
	background: white;
	color: var(--main-backgroundColor);
	border: none;
	font-weight: bold;
}

.jumbotron .btn:hover {
	background: rgb(52, 101, 235);
	color: white;
}

img {
	width: 40%;
	height: 40%;
}

footer {
	position: fixed;
	bottom: 0;
	right: 1em;
}

@media screen and (max-width: 900px) {
	img {
		display: none;
	}

	#header {
		margin: 1em 0;
	}
}