* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --dark-wood-color: #815438;
    --light-wood-color: #caa472;
}

body {
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}

#menu-link {
    font-family: "arial";
    font-weight: bold;
    background: var(--light-wood-color);
    color: var(--dark-wood-color);
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 3px 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid var(--dark-wood-color);
    border-radius: 50px;
}

#menu-link:hover {
    background: var(--dark-wood-color);
    color: white;
}

#tutorial {
    height: 70%;
    width: 80%;
    margin: 3em auto;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

/* width */
#tutorial::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#tutorial::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

/* Handle */
#tutorial::-webkit-scrollbar-thumb {
    background: #888;
    border: solid 2px black;
    border-radius: 15px;
}

/* Handle on hover */
#tutorial::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tutorial-page {
    color: white;
    height: 90%;
    flex: 0 0 80%;
    margin: 0 10%;
    /*border: groove 10px #753514;*/
    border: groove 10px #8f6345;
    border-radius: 50px;
    background-image: url("../../images/sky.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    scroll-snap-align: center;
}

.tutorial-page .text {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 25px;
    overflow: auto;
}

.tutorial-page .image {
    flex: 1 1 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 25px;
}

.tutorial-page-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.tutorial-page-body {
    text-align: center;
    min-width: 250px;
    font-size: 1.2rem;
}

.tutorial-page img {
    max-width: 100%;
    max-height: 100%;
}

#difficulties {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.difficulty-selector {
    flex: 0 0 150px;
    background-color: var(--light-wood-color);
    /* height: 100%; */
    /* width: 100%; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-difficulty-selector {
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
    font-weight: 900;
    border: 5px var(--dark-wood-color) solid;
    border-radius: 100%;
    color: var(--dark-wood-color);
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-difficulty-selector:hover {
    border: 5px white solid;
    /* color: white; */
}

.inner-difficulty-selector p{
    text-align: center;
}

.canvas-example {
    position: absolute;
    left: 10%;
    top: 3em;
    /* transform: translate(-50%, 0%); */
    /* transition: transform 0.5s ease-out; */
    height: 70%;
    width: 80%;
    background-color: #222222;
    /* border: 5px var(--dark-wood-color) solid; */
}

.active {
    /* transform: translate(-50%, 0%); */
    top: 50%;
}

@media screen and (max-width: 1524px) {
    #difficulties {
        height: 100px;
    }
    .difficulty-selector {
        flex: 0 0 100px;
    }
    .inner-difficulty-selector {
        border: 4px var(--dark-wood-color) solid;
    }
}

@media screen and (max-width: 1078px) {
    #difficulties {
        height: 80px;
    }
    .difficulty-selector {
        flex: 0 0 80px;
    }
    .inner-difficulty-selector {
        border: 3px var(--dark-wood-color) solid;
    }
}

@media screen and (max-width: 843px) {
    #difficulties {
        height: 50px;
    }
    .difficulty-selector {
        flex: 0 0 50px;
    }
    .inner-difficulty-selector {
        border: 2px var(--dark-wood-color) solid;
    }
}
